.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #FFE8E8;
}

.row {
  clear: both;
}

.col {
  display: inline;
}

.card {
  background-color: aliceblue;
  border-radius: 20%;
  padding-right: 15px;
  margin-left: 100px;
  margin-bottom: 30px;
  display: inline;
  float: left;
  border: 2px solid #AA3939;
}

.h1 {
  font-size: 80px;
  text-shadow:3px 3px 2px aliceblue;
  text-align: center;
  padding: 20px;
  color: #AA3939;
  text-align: center;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  text-shadow:1px 1px 2px #AA3939;
}

.beast {
  border:2px solid #AA3939;
  border-radius: 20%;
  padding: 10px;
  margin: 20px;
}

.heart {
  width: 20px;
}

.hearts {
  display: inline;
  color: #AA3939;
  font-weight: 700;
  margin-right: 5px;
}

.text {
  margin-left: 40px;
  margin-bottom: 80px;
  color: #AA3939;
  border-radius: 20%;
  font-size: 18px;
  padding: 15px;

}

footer {
  clear: both;
  padding: 10px;
}

.modal-body {
  background-color: antiquewhite;
  color: #AA3939;

}

.modal-title {
  color: #AA3939;
}

.modal-body img {
  max-width: 90%;
  max-height: 90%;
}

.select {
  margin-bottom: 50px;

}
